/* Default styles null */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* background-color: #E5E5E5; */
  background-color: #e6e6fa;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}



body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
}


/* Container */

.container {
  width: 100%;
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}


/* Header */

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__links {
  display: flex;
  justify-content: space-between;

}

.header__links-item {
  margin-right: 20px;
  text-decoration: none;
  color: #181818;
  font-size: 14px;
}

.header__links-item::after {
  content: '';
  display: block;
  height: 2px;
  background: #181818;
  width: 0;
  transition: all .4s linear;
}

.header__links-item:hover::after {
  width: 100%;
}


.header__button {
  padding: 6px 25px;
  border-radius: 5px;
  transition: all .4s linear;
  margin-right: 10px;
}

.header__button:last-child {
  margin-right: 0;
}

.header__button:hover {
  color: #FFF;
  background: #656293;
}

/* Intro */

.intro {
  padding-top: 40px;
  position: relative;
  min-height: 100vh;
  background-image: url('../img/bg-image.jpg');
  background-size: cover;
}

.intro__inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  color: #151515;
}

.intro__title b {
  text-transform: uppercase;
  color: #656293;
}

.intro__title,
.intro__subtitle {
  font-size: 66px;
  line-height: 1.2;
}

.intro__subtitle {
  margin-bottom: 45px;
}

.intro__explore {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 2px 5px;
  transition: all .3s linear;

}


.intro__arrow {
  display: inline-block;
  vertical-align: middle;
  transition: all .3s linear;
  height: 20px;
  width: 20px;

}



.intro__link {
  text-decoration: none;
  color: #151515;
}

.intro__link:hover .intro__arrow {
  margin-left: 7px;

}

.intro__link:hover .intro__explore {

  background-color: #656293;
  color: #FFF;
  border-radius: 5px;

}



/* Booking */
.booking {
  position: relative;
  top: -100px;
  z-index: 10;
  opacity: 0;
}

.booking.visible {
  animation: visible-booking 0.8s ease-out;
  opacity: 1;
}

@keyframes visible-booking {
  0% {
    opacity: 0;
    top: -140px;
  }

  50% {
    opacity: .5;
    top: -110px;
  }

  100% {
    opacity: 1;
    top: -100px;
  }
}

.booking__inner {
  display: block;
  position: relative;
  padding: 35px 30px;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 12px;
  background-color: #FFF;

}

.booking__header {
  margin-bottom: 25px;
}

.booking__dropdowns {
  display: flex;
}


.booking__body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
}

.booking__destination {
  width: 28%;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 16px 15px;
  display: flex;
  flex-direction: column;
}

.booking__revert {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #AAAAAA;
  border-radius: 50%;
  transition: transform .5s linear;
  margin: 0 7px;
  cursor: pointer;
}

.booking__revert:hover {
  transform: rotate(180deg);
}

.booking__title {
  font-size: 14px;
  color: #737373;
  line-height: 21px;
  text-transform: uppercase;
}

.booking__abbreviation {
  font-size: 24px;
  font-weight: 600;
  color: #151515;

}

.booking__airport {
  font-size: 14px;
  color: #737373;

}


.booking__dates {
  width: 35%;
  display: flex;
  padding: 16px 20px;
  border: 1px solid #AAAAAA;
  border-radius: 10px;
}

.booking__departure {
  margin-right: 20px;
}

.booking__date {
  display: inline-block;
  font-weight: 600;
  color: #151515;
  font-size: 24px;

}


.booking__calendar {
  /* font-size: 18px; */
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
}


.booking__buttons {
  color: #15151599;
  opacity: .6;

}

.booking__btn {
  position: relative;
  transition: all .5s linear;
  cursor: pointer;
}

.booking__btn::after {
  content: '';
  display: block;

  background: #15151599;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .4s all linear;
}

.booking__btn:hover::after {
  width: 100%;
}

.booking__footer {
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #151515;
  font-size: 14px;
  cursor: pointer;
}

.booking__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  background: #656293;
  border-radius: 10px;
  padding: 27px 30px;
  text-align: left;
  width: 250px;
  color: #FFF;

}

.white-arrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  transition: all .4s linear;

}

.booking__button:hover .white-arrow {
  margin-left: 30px;
}


/* Dropdowns */

.booking__dropdowns-header {
  display: block;
  margin-right: 15px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px;
}

.booking__dropdowns-header a {
  color: #151515;
}

.booking__dropdown {
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all .4s linear;
  top: 60px;
  left: 30px;
}

.booking__dropdowns-header:hover>.booking__dropdown,
.booking__dropdowns-header:focus-within>.booking__dropdown,
.booking__dropdown:hover,
.booking__dropdown:focus {
  visibility: visible;
  opacity: 1;
}

.dropdown__item {
  margin-right: 4px;
}

.booking__link {
  position: relative;
}

.dropdown-arrow {
  position: absolute;
  top: -2px;
  right: -20px;
}



/* Section */
.section {
  padding: 60px 0;
}

.section__header {
  text-align: center;
  margin-bottom: 60px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  color: #000;
}

/* Chapter */

.section-chapter {
  position: relative;
}

.chapter {
  margin-top: 40px;
}

.chapter__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  opacity: 0;
}

.lazy {
  animation: lazy .8s linear;
  opacity: 1;
}

@keyframes lazy {
  0% {
    opacity: 0;
    top: -20px;
  }

  50% {
    opacity: 0.5;
    top: -10px;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}


.chapter__item:last-child {
  margin-bottom: 0;
}

.chapter__img {
  border-radius: 20px;
  display: block;
}

.chapter__content {
  padding: 20px;
}

.chapter__title {
  font-weight: 600;
  font-size: 24px;
  color: #000;
  margin-bottom: 15px;
}

.chapter__text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  color: rgba(21, 21, 21, 0.6);
  ;
}

.chapter__rectange {
  /* background-color: #FFFACD; */
  background-color: #FFF5EE;
  width: 400px;
  opacity: .8;
  height: 523px;
  position: absolute;
  z-index: -2;
}

.chapter__rectange-left {
  left: 0;
  top: 10%;
  border-radius: 0px 50px 50px 0px;
}

.chapter__rectange-right {
  right: 0;
  bottom: 8%;
  border-radius: 50px 0px 0px 50px;
}

/* Perfomance */

.perfomance__inner {
  display: flex;
  justify-content: space-between;
}

.perfomance__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 12px;
  width: 370px;
  padding: 40px 52px 52px;
  margin-bottom: 30px;
}

.perfomance__airplane {
  position: relative;
  opacity: 0;
}

.perfomance__airplane.fly {
  animation: fly .8s linear;
  opacity: 1;
}

@keyframes fly {
  0% {
    bottom: -200px;
    opacity: 0;
  }

  50% {
    bottom: -100px;
    opacity: .5;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

/* Card */

.card {
  color: inherit;
  cursor: pointer;
  width: 370px;
  height: 270px;
  margin: 1rem;
  position: relative;
  opacity: 0;
}

.card.lazy {
  opacity: 1;
}


.front,
.back {
  display: flex;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out .6s;
}



.front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFFFFF;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 12px;
  z-index: -1;
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}

.back {
  background: #FFF;
  transform: rotateY(-180deg);
  padding: 40px 52px 52px;
}

.card:hover .back {
  transform: rotateY(0deg);
}

.card:nth-child(even) .back {
  transform: rotateY(180deg);
}


.card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}

.perfomance__icon {
  display: block;
  width: 80px;
  height: 80px;
}

.perfomance__col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.perfomance__title {
  font-size: 18px;
  color: #151515;
  margin-bottom: 15px;
}

.perfomance__text {
  font-size: 16px;
  color: rgba(21, 21, 21, 0.6);
}

/* Luxury */


.luxury {
  display: flex;
  position: relative;
  justify-content: space-between;
  opacity: 0;
}

.luxury.lazy {
  opacity: 1;
}

.luxury__card {
  width: 255px;
  height: 255px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.luxury__card:hover {
  transform: translateY(20px);
}

.luxury__card:hover:before {
  opacity: 1;
}

.luxury__card:hover .luxury__info {
  opacity: 1;
  transform: translateY(0px);
}

.luxury__card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.luxury__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.luxury__info {
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
  text-align: center;
  text-transform: capitalize;
}


/* Membership */

.membership {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.membership.lazy {
  opacity: 1;
}

.membership__card {
  cursor: pointer;
  width: 32%;
  display: flex;
  flex-direction: column;
  background: #F5F5F5;
  border-radius: 20px;
  padding: 24px;
  transition: all .4s linear;
}

.membership__body {
  flex: 1 1 0;
  border-bottom: 1px dashed #A9A9AA;
  margin-bottom: 65px;
}

.membership__type {
  font-weight: 700;
  font-size: 32px;
  color: #151515;
  margin-bottom: 32px;
}

.membership__get {
  font-weight: 400;
  font-size: 22px;
  color: #A9A9AA;
  margin-bottom: 25px;
}

.membership__features-item {
  margin-bottom: 16px;
}

.membership__checkbox {
  display: inline-block;
  vertical-align: middle;
}

.membership__features-desc {
  display: inline-block;
  color: #151515;
}

.membership__cost {
  color: #161616;
  font-size: 18px;
  margin-bottom: 24px;
}

.membership__cost b {
  font-size: 32px;

}

.membership__button {
  position: relative;
  font-weight: 600;
  text-align: center;
  color: #FFF;
  background: #656293;
  border-radius: 12px;
  transition: all .4s linear;
  width: 100%;
  max-width: 308px;
  height: 64px;
  overflow: hidden;
}


.membership__button::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -275px;
  background-color: #151515;
  height: 3px;
  width: 90%;
  transition: all .4s linear;
}

.membership__button::after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: -275px;
  background-color: #151515;
  height: 3px;
  width: 90%;
  transition: all .4s linear;
}

.membership__button:hover::before {
  margin-left: 290px;
}

.membership__button:hover::after {
  margin-right: 290px;
}



.membership__card:hover {
  background-color: #656293;
  transform: translateY(-20px);
}

.membership__card:hover .membership__features-desc {
  color: #FFF;
}

.membership__card:hover .membership__cost {
  color: #FFF;
}

.membership__card:hover .membership__type {
  color: #FFF;
}

.membership__card:hover .membership__button {
  background-color: #FFF;
  color: #151515
}

.membership__card:hover .membership__get {
  color: #FFF;
  opacity: .8;
}


.membership__card:hover .membership__button:hover {
  box-shadow: 0px 0px 0px 2.5px white inset, 0px 0px 0px 5px #000;
  letter-spacing: 5px;

}


/* Large play */

.large__plain {
  margin: 0 auto;
}


/* Footer */

.footer {
  background-color: #656293;
  padding-top: 50px;
  padding-bottom: 15px;
}

.footer__logo {
  margin: 0 auto 50px;
}

.footer__about {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.footer__about::before {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.footer__services {
  display: flex;
}

.footer__service {
  margin-right: 20px;
}

.footer__service-link {
  text-decoration: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 14px;
}

.footer__service-link::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #FFF;
  transition: all .2s linear;
}

.footer__service-link:hover::after {
  width: 100%;
}

.footer__rights {
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  font-size: 14px;
}