/* Default styles null */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* background-color: #E5E5E5; */
  background-color: #e6e6fa;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}



body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
}


/* Container */

.container {
  width: 100%;
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}


/* Header */

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__links {
  display: flex;
  justify-content: space-between;

}

.header__links-item {
  margin-right: 20px;
  text-decoration: none;
  color: #181818;
  font-size: 14px;
}

.header__links-item::after {
  content: '';
  display: block;
  height: 2px;
  background: #181818;
  width: 0;
  transition: all .4s linear;
}

.header__links-item:hover::after {
  width: 100%;
}


.header__button {
  padding: 6px 25px;
  border-radius: 5px;
  transition: all .4s linear;
  margin-right: 10px;
}

.header__button:last-child {
  margin-right: 0;
}

.header__button:hover {
  color: #FFF;
  background: #656293;
}

/* Intro */

.intro {
  padding-top: 40px;
  position: relative;
  min-height: 100vh;
  background-image: url('../img/bg-image.jpg');
  background-size: cover;
}

.intro__inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  color: #151515;
}

.intro__title b {
  text-transform: uppercase;
  color: #656293;
}

.intro__title,
.intro__subtitle {
  font-size: 66px;
  line-height: 1.2;
}

.intro__subtitle {
  margin-bottom: 45px;
}

.intro__explore {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 2px 5px;
  transition: all .3s linear;

}


.intro__arrow {
  display: inline-block;
  vertical-align: middle;
  transition: all .3s linear;
  height: 20px;
  width: 20px;

}



.intro__link {
  text-decoration: none;
  color: #151515;
}

.intro__link:hover .intro__arrow {
  margin-left: 7px;

}

.intro__link:hover .intro__explore {

  background-color: #656293;
  color: #FFF;
  border-radius: 5px;

}



/* Booking */
.booking {
  position: relative;
  top: -100px;
  z-index: 10;
}

.booking__inner {
  display: block;
  position: relative;
  padding: 35px 30px;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 12px;
  background-color: #FFF;

}

.booking__header {
  margin-bottom: 25px;
}

.booking__dropdowns {
  display: flex;
}


.booking__body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
}

.booking__destination {
  width: 28%;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 16px 15px;
  display: flex;
  flex-direction: column;
}

.booking__revert {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #AAAAAA;
  border-radius: 50%;
  transition: transform .5s linear;
  margin: 0 7px;
  cursor: pointer;
}

.booking__revert:hover {
  transform: rotate(180deg);
}

.booking__title {
  font-size: 14px;
  color: #737373;
  line-height: 21px;
  text-transform: uppercase;
}

.booking__abbreviation {
  font-size: 24px;
  font-weight: 600;
  color: #151515;

}

.booking__airport {
  font-size: 14px;
  color: #737373;

}


.booking__dates {
  width: 35%;
  display: flex;
  padding: 16px 20px;
  border: 1px solid #AAAAAA;
  border-radius: 10px;
}

.booking__departure {
  margin-right: 20px;
}

.booking__date {
  display: inline-block;
  font-weight: 600;
  color: #151515;
  font-size: 24px;

}


.booking__calendar {
  /* font-size: 18px; */
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
}


.booking__buttons {
  color: #15151599;
  opacity: .6;

}

.booking__btn {
  position: relative;
  transition: all .5s linear;
  cursor: pointer;
}

.booking__btn::after {
  content: '';
  display: block;

  background: #15151599;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .4s all linear;
}

.booking__btn:hover::after {
  width: 100%;
}

.booking__footer {
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #151515;
  font-size: 14px;
  cursor: pointer;
}

.booking__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  background: #656293;
  border-radius: 10px;
  padding: 27px 30px;
  text-align: left;
  width: 250px;
  color: #FFF;

}

.white-arrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  transition: all .4s linear;

}

.booking__button:hover .white-arrow {
  margin-left: 30px;
}


/* Dropdowns */

.booking__dropdowns-header {
  display: block;
  margin-right: 15px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px;
}

.booking__dropdowns-header a {
  color: #151515;
}

.booking__dropdown {
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all .4s linear;
  top: 60px;
  left: 30px;
}

.booking__dropdowns-header:hover>.booking__dropdown,
.booking__dropdowns-header:focus-within>.booking__dropdown,
.booking__dropdown:hover,
.booking__dropdown:focus {
  visibility: visible;
  opacity: 1;
}

.dropdown__item {
  margin-right: 4px;
}

.booking__link {
  position: relative;
}

.dropdown-arrow {
  position: absolute;
  top: -2px;
  right: -20px;
}



/* Section */
.section {
  padding: 60px 0;
}

.section__header {
  text-align: center;
  margin-bottom: 60px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  color: #000;
}

/* Chapter */

.section-chapter {
  position: relative;
}

.chapter {
  margin-top: 40px;
}

.chapter__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;

}


.chapter__item:last-child {
  margin-bottom: 0;
}

.chapter__img {
  border-radius: 20px;
}

.chapter__content {
  padding: 20px;
}

.chapter__title {
  font-weight: 600;
  font-size: 24px;
  color: #000;
  margin-bottom: 15px;
}

.chapter__text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  color: rgba(21, 21, 21, 0.6);
  ;
}

.chapter__rectange {
  /* background-color: #FFFACD; */
  background-color: #FFF5EE;
  width: 400px;
  opacity: .8;
  height: 523px;
  position: absolute;
  z-index: -2;
}

.chapter__rectange-left {
  left: 0;
  top: 10%;
  border-radius: 0px 50px 50px 0px;
}

.chapter__rectange-right {
  right: 0;
  bottom: 8%;
  border-radius: 50px 0px 0px 50px;
}

/* Perfomance */

.perfomance__inner {
  display: flex;
  justify-content: space-between;
}

.perfomance__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 12px;
  width: 370px;
  padding: 40px 52px 52px;
  margin-bottom: 30px;
}

.perfomance__icon {
  display: block;
}

.perfomance__col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}


/* Luxury */


.luxury {
  display: flex;
  justify-content: space-between;
}

.luxury__card {
  width: 23%;
  background-color: #FFF;
  padding: 15px 12px;
  text-align: center;
  border-radius: 10px;
}

.luxury__image {
  margin-bottom: 15px;
}

.luxury__model {
  color: #151515;
  text-transform: capitalize;
}