/* Default styles null */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #e6e6fa;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}



body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

/* Container */

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}


.header__container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

@media (max-width:1200px) {
  .container {
    max-width: 970px;
  }

  .header__container {
    max-width: 970px;
  }

}

@media (max-width:992px) {
  .container {
    max-width: 750px;
  }

  .header__container {
    max-width: 750px;
  }
}

@media (max-width:767px) {
  .container {
    max-width: none;
  }

  .header__container {
    max-width: none;
  }
}

/* Header */

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding-top: 40px;
}

.header._fixed {
  position: fixed;
  background-color: #FFF;
  padding: 0;
}

.header._mobile {
  position: fixed;
  width: 100%;
  background-color: #e6e6fa;
  ;
  z-index: 100;
  border-bottom: 2px white solid;
}

.header__logo {
  z-index: 5;
}

.header._fixed .header__button {
  border: 1px solid #000;
}

.header__icons {
  display: none;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__list>li {
  margin-left: 20px;
  padding: 10px 0;
}

.menu__link {
  font-size: 14px;
  text-transform: capitalize;
  color: #181818;
}

.menu__list>li::after {
  content: '';
  display: block;
  height: 2px;
  background: #181818;
  width: 0;
  transition: all .4s linear;
}

.menu__list>li:hover::after {
  width: 100%;
}

.menu__icon {
  display: none;
}

.menu__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__buttons {
  margin-left: 20px;
}

.header__button {
  padding: 6px 25px;
  background-color: #FFF;
  border-radius: 5px;
  transition: all .4s linear;
  margin-right: 10px;
}

.header__button:last-child {
  margin-right: 0;
}

.header__button:hover {
  color: #FFF;
  background: #656293;
}

@media (max-width:1200px) {
  .header__links-item {
    margin-right: 15px;
  }

  .menu__list>li {
    margin: 0;
    margin-right: 5px;
  }

  .header__button {
    padding: 6px 15px;
  }

}

@media (max-width:992px) {
  .header__logo {
    max-width: 90px;
  }

  .header__links-item {
    font-size: 13px;
    margin-right: 7px;
  }

  .header__button {
    display: none;
  }

  .header__icons {
    display: flex;
  }

  .header__icon {
    display: block;
    width: 25px;
    height: 25px;
    filter: invert(45%) sepia(7%) saturate(2200%) hue-rotate(204deg) brightness(88%) contrast(97%);
    margin-right: 7px;
  }

}

@media (max-width:767px) {
  .header {
    padding-top: 0;
  }

  .header__icons {
    display: none;
  }


  /* Burger */
  .menu__icon {
    z-index: 10;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon:before,
  .menu__icon:after {
    content: "";
  }

  .menu__icon span,
  .menu__icon:before,
  .menu__icon:after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all .3s ease 0s;
    background-color: #FFF;
  }

  .menu__icon:before {
    top: 0;
  }

  .menu__icon:after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }

  .menu__icon._active span {
    transform: scale(0) translateY(-50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FFFAFA;
    padding: 100px 30px 30px 30px;
    transition: left .3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #d6cadd;
    z-index: 10;
  }

  .menu__list {
    flex-direction: column;
  }

  .menu__list>li {

    margin-bottom: 20px;
  }

  .menu__list>li:last-child {
    margin-bottom: 0;
    ;
  }

  .menu__link {
    font-size: 24px;
    color: #000;
  }

  .menu__body {
    flex-direction: column;
  }

  .header__buttons {
    margin-top: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }


  .header__button {
    display: block;
    width: 40%;
    background-color: #d6cadd;
    font-size: 30px;

  }

  .header__button:first-child {
    margin-right: 100px;
  }
}

@media (max-width: 480px) {
  .header__button:first-child {
    margin-right: 40px;

  }

  .header__button {
    font-size: 18px;
  }

  .menu__link {
    font-size: 22px;
  }

  .menu__list>li {
    margin-bottom: 10px;
  }

  @media (max-width: 320px) {}
}

/* Intro */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  min-height: 820px;
  width: 100%;
  background: url('../img/bg-image.jpg') center no-repeat;
  /* background-size: cover; */
}

.intro__inner {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  color: #151515;
}

.intro__title b {
  text-transform: uppercase;
  color: #656293;
}

.intro__title,
.intro__subtitle {
  font-size: 66px;
}

.intro__subtitle {
  margin-bottom: 45px;
}

.intro__explore {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 2px 5px;
  transition: all .3s linear;

}


.intro__arrow {
  display: inline-block;
  vertical-align: middle;
  transition: all .3s linear;
  height: 20px;
  width: 20px;

}



.intro__link {
  text-decoration: none;
  color: #151515;
}

.intro__link:hover .intro__arrow {
  margin-left: 7px;

}

.intro__link:hover .intro__explore {

  background-color: #656293;
  color: #FFF;
  border-radius: 5px;

}


@media (max-width:1200px) {

  .intro__title,
  .intro__subtitle {
    font-size: 50px;
  }

  .intro__subtitle {
    margin-bottom: 30px;
  }

  .intro__explore {
    font-size: 18px;
  }
}

@media (max-width:992px) {

  .intro__title,
  .intro__subtitle {
    font-size: 40px;
  }

  .intro__subtitle {
    margin-bottom: 20px;
  }

  .intro__explore {
    font-size: 16px;
  }
}

@media (max-width:767px) {
  .intro__subtitle {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .intro__title {
    font-size: 33px;
  }

  .intro__title {
    font-size: 26px;
  }

}

/* Booking */
.booking {
  position: relative;
  top: -100px;
  z-index: 10;
  opacity: 0;
}

.booking.visible {
  animation: visible-booking 0.8s ease-out;
  opacity: 1;
}

@keyframes visible-booking {
  0% {
    opacity: 0;
    top: -140px;
  }

  50% {
    opacity: .5;
    top: -110px;
  }

  100% {
    opacity: 1;
    top: -100px;
  }
}

.booking__inner {
  display: block;
  /* position: relative; */
  padding: 35px 30px;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 12px;
  background-color: #FFF;

}

.booking__header {
  margin-bottom: 25px;
}

.booking__dropdowns {
  display: flex;
}


.booking__body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
}

.booking__destination {
  width: 28%;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 16px 15px;
  display: flex;
  flex-direction: column;
}

.booking__revert {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #AAAAAA;
  border-radius: 50%;
  transition: transform .5s linear;
  cursor: pointer;
}

.booking__revert:hover {
  transform: rotate(180deg);
}

.booking__title {
  font-size: 14px;
  color: #737373;
  line-height: 21px;
  text-transform: uppercase;
}

.booking__abbreviation {
  font-size: 24px;
  font-weight: 600;
  color: #151515;

}

.booking__airport {
  font-size: 14px;
  color: #737373;

}


.booking__dates {
  width: 32%;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border: 1px solid #AAAAAA;
  border-radius: 10px;
}

.booking__departure {
  width: 48%;

}

.booking__return {
  width: 48%;
  padding: 10px 5px;
}

.booking__date {
  display: inline-block;
  font-weight: 600;
  color: #151515;
  font-size: 24px;

}


.booking__calendar {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
}


.booking__buttons {
  color: #15151599;
  opacity: .6;

}

.booking__btn {
  font-size: 14px;
  position: relative;
  transition: all .5s linear;
  cursor: pointer;
}

.booking__btn::after {
  content: '';
  display: block;

  background: #15151599;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .4s all linear;
}

.booking__btn:hover::after {
  width: 100%;
}

.booking__footer {
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #151515;
  font-size: 14px;
  cursor: pointer;
}

.booking__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  background: #656293;
  border-radius: 10px;
  padding: 27px 30px;
  text-align: left;
  color: #FFF;

}

.white-arrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  transition: all .4s linear;

}

.booking__button:hover .white-arrow {
  margin-left: 30px;
}

/* Booking lists */
.booking__list {
  display: flex;
}

.booking__list>li {
  position: relative;
  margin-left: 20px;
  padding: 10px 0;
}

.booking__link {
  color: #000;
  font-size: 18px;
}

.booking__link-header {
  cursor: pointer;
}

.booking__sub-list {
  z-index: 3;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #FFF;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 10px;
  width: 120%;
  transform: translate(0px, 10%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .3s ease 0s;
  text-align: center;

}

.booking__sub-link {
  font-size: 16px;
  color: #000;
}

.booking__sub-link:hover {
  text-decoration: underline;
}

.booking__sub-list li {
  margin-bottom: 10px;
}

.booking__sub-list li:last-child {
  margin: 0;
}

.booking__arrow {
  display: none;
}


/* Body pc and touch */

body._pc .booking__list>li:hover .booking__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .booking__list>li {
  display: flex;
  align-items: center;
}

body._touch .booking__list .booking__arrow {
  display: block;
  width: 0;
  height: 0;
  transition: transform .3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #000;
  margin-left: 5px;
}

body._touch .booking__link {
  flex: 1 1 auto
}

body._touch .booking__link._active .booking__arrow {
  transform: rotate(180deg);
}

body._touch .booking__link._active .booking__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

/*  */

@media (max-width:1200px) {


  .booking__abbreviation {
    font-size: 22px;
  }

  .booking__airport {
    font-size: 11px;
  }


  .booking__title {
    font-size: 12px;
  }

  .date__picker {
    font-size: 17px;
    margin-bottom: 0;
    line-height: 0;
  }

  .booking__dates {
    padding: 0px 4px;
  }

}

@media (max-width:992px) {

  .booking__abbreviation {
    font-size: 24px;
  }

  .booking__airport {
    font-size: 14px;
  }

  .booking__title {
    font-size: 14px;
    margin-bottom: 0;
  }

  .booking__dates {
    padding: 10px 5px;
  }

  .date__picker.datepicker-input {
    font-size: 16px;
  }

  .booking__dropdowns {
    justify-content: space-around;
  }

  .booking__dropdowns-header {
    font-size: 18px;
  }

  .booking__btn {
    font-size: 16px;
  }

}

@media (max-width:767px) {
  .booking__destination {
    width: 45%;
    margin-bottom: 10px;
    text-align: center;
  }

  .booking__title {
    font-size: 20px;
  }

  .booking__abbreviation {
    font-size: 30px;
  }

  .booking__airport {
    font-size: 18px;
  }

  .booking__dates {
    width: 100%;
  }

  .booking__prev {
    margin: 0 50px 0 15px;
  }

  .booking__link {
    font-size: 16px;
  }

  .date__picker {
    min-width: 350px;
  }

  .date__picker.datepicker-input {
    padding-left: 20px;
    font-size: 25px;
  }

  .booking__btn {
    font-size: 20px;
  }

  .booking__button:hover .white-arrow {
    margin-left: 20px;
  }

  .booking__airport {
    display: none;
  }
}

@media (max-width: 480px) {
  .booking__body {
    flex-direction: column;
  }

  .booking__destination {
    width: 100%;
  }

  .booking__reverse {
    margin-bottom: 10px;
  }

  .booking__list {
    flex-direction: column;
    align-items: center;
  }

  .booking__link {
    font-size: 20px;
    margin-bottom: 0;
  }

  .booking__list>li {
    margin-left: 0;
    padding: 7px 0;
  }

  .booking__sub-list {
    right: -10px;
  }

  .booking__dates {
    flex-direction: column;
  }

  .booking__prev {
    margin: 0 10px 0 0;
  }

  .booking__departure {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    ;
  }

  .booking__return {
    width: 90%;
    text-align: center;
  }

  .date__picker.datepicker-input {
    text-align: center;
    padding-left: 0;
  }

  .date__picker {
    min-width: 220px;
  }

  .booking__button{
    bottom: -35px;
    padding: 20px 20px;
  }
  .white-arrow{
    display: none;
  }
}

/* Section */
.section {
  padding: 60px 0;
}

.section__header {
  text-align: center;
  margin-bottom: 60px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  color: #000;
}

/* Chapter */

.section-chapter {
  position: relative;
}

.chapter {
  margin-top: 40px;
}

.chapter__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  opacity: 0;
}

.hapter__item img {
  width: 100%;
}

.lazy {
  animation: lazy .8s linear;
  opacity: 1;
}

@keyframes lazy {
  0% {
    opacity: 0;
    top: -20px;
  }

  50% {
    opacity: 0.5;
    top: -10px;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}


.chapter__item:last-child {
  margin-bottom: 0;
}

.chapter__img {
  border-radius: 20px;
  display: block;
}

.chapter__content {
  padding: 20px;
}

.chapter__title {
  font-weight: 600;
  font-size: 24px;
  color: #000;
  margin-bottom: 15px;
}

.chapter__text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  color: rgba(21, 21, 21, 0.6);
  ;
}

.chapter__rectange {
  background-color: #FFF5EE;
  width: 400px;
  opacity: .8;
  height: 523px;
  position: absolute;
  z-index: -2;
}

.chapter__rectange-left {
  left: 0;
  top: 10%;
  border-radius: 0px 50px 50px 0px;
}

.chapter__rectange-right {
  right: 0;
  bottom: 8%;
  border-radius: 50px 0px 0px 50px;
}

@media (max-width:1200px) {
  .section {
    padding: 0px 0px 30px 0;
  }

  .section__header {
    font-size: 26px;
  }

  .section__title {
    font-size: 30px;
  }


}

@media (max-width:992px) {
  .chapter__item {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .chapter__content {
    max-width: 800px;
    text-align: center;
  }

  .chapter__rectange-left {
    height: 50%;
    width: 100%;
    border-radius: 0;
  }

  .chapter__rectange-right {
    height: 0;
    width: 0;
  }

  .chapter__content {
    order: 1;
  }

  .chapter__img {
    order: 0;
    width: 450px;
  }

  .section__header {
    margin-bottom: 40px;
  }
}

@media (max-width:767px) {
  .chapter__text {
    font-size: 14px;
  }
  .section-chapter{
    padding: 0;
  }
  .section__title {
    font-size: 25px;
  }

  .section__header {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .section__title{
    font-size: 20px;
  }
  .chapter__content {
    padding: 10px;
  }
}
@media (max-width: 320px) {}

/* Perfomance */

.perfomance__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.perfomance__airplane {
  position: relative;
  opacity: 0;
}

.perfomance__airplane.fly {
  animation: fly .8s linear;
  opacity: 1;
}

@keyframes fly {
  0% {
    bottom: -200px;
    opacity: 0;
  }

  50% {
    bottom: -100px;
    opacity: .5;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

/* Card */

.card {
  color: inherit;
  cursor: pointer;
  width: 370px;
  height: 270px;
  margin: 1rem;
  position: relative;
  opacity: 0;
}


.card.lazy {
  opacity: 1;
}


.front,
.back {
  display: flex;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out .6s;
}



.front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFFFFF;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 12px;
  z-index: -1;
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}

.back {
  background: #FFF;
  transform: rotateY(-180deg);
  padding: 40px 52px 52px;
}

.card:hover .back {
  transform: rotateY(0deg);
}

.card:nth-child(even) .back {
  transform: rotateY(180deg);
}


.card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}

.perfomance__icon {
  display: block;
  width: 80px;
  height: 80px;
}

.perfomance__col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.perfomance__title {
  font-size: 18px;
  color: #151515;
  margin-bottom: 15px;
}

.perfomance__text {
  font-size: 16px;
  color: rgba(21, 21, 21, 0.6);
}

@media (max-width:1200px) {
  .perfomance__airplane {
    display: none;
  }
}

@media (max-width:992px) {
  .perfomance__col {
    flex-direction: row;
    flex: 0 0 100%;
  }

  .perfomance__col>.card {
    width: 320px;
    height: 240px;
  }
}

@media (max-width:767px) {
  .perfomance__col>.card {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .section-perfomance{
    display: none;
  }
}

/* Luxury */


.luxury {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 0;
}

.luxury.lazy {
  opacity: 1;
}

.luxury__card {
  width: 255px;
  height: 255px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.luxury__card:hover {
  transform: translateY(20px);
}

.luxury__card:hover:before {
  opacity: 1;
}

.luxury__card:hover .luxury__info {
  opacity: 1;
  transform: translateY(0px);
}

.luxury__card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.luxury__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.luxury__info {
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width:1200px) {
  .luxury__card {
    width: 48%;
    margin-bottom: 20px;
  }

  .luxury__card:hover {
    transform: translateY(10px);
  }
}

@media (max-width:767px) {

  .luxury {
    justify-content: center;
  }

  .luxury__card {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .section-luxury{
    display: none;
  }
}

/* Membership */

.membership {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.membership.lazy {
  opacity: 1;
}

.membership__card {
  cursor: pointer;
  width: 32%;
  display: flex;
  flex-direction: column;
  background: #F5F5F5;
  border-radius: 20px;
  padding: 24px;
  transition: all .4s linear;
}

.membership__body {
  flex: 1 1 0;
  border-bottom: 1px dashed #A9A9AA;
  margin-bottom: 65px;
}

.membership__type {
  font-weight: 700;
  font-size: 32px;
  color: #151515;
  margin-bottom: 32px;
}

.membership__get {
  font-weight: 400;
  font-size: 22px;
  color: #A9A9AA;
  margin-bottom: 25px;
}

.membership__features-item {
  margin-bottom: 16px;
}

.membership__checkbox {
  display: inline-block;
  vertical-align: middle;
}

.membership__features-desc {
  display: inline-block;
  color: #151515;
}

.membership__cost {
  color: #161616;
  font-size: 18px;
  margin-bottom: 24px;
}

.membership__cost b {
  font-size: 32px;

}

.membership__button {
  position: relative;
  font-weight: 600;
  text-align: center;
  color: #FFF;
  background: #656293;
  border-radius: 12px;
  transition: all .4s linear;
  width: 100%;
  max-width: 308px;
  height: 64px;
  overflow: hidden;
}


.membership__button::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -275px;
  background-color: #151515;
  height: 3px;
  width: 90%;
  transition: all .4s linear;
}

.membership__button::after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: -275px;
  background-color: #151515;
  height: 3px;
  width: 90%;
  transition: all .4s linear;
}

.membership__button:hover::before {
  margin-left: 290px;
}

.membership__button:hover::after {
  margin-right: 290px;
}



.membership__card:hover {
  background-color: #656293;
  transform: translateY(-20px);
}

.membership__card:hover .membership__features-desc {
  color: #FFF;
}

.membership__card:hover .membership__cost {
  color: #FFF;
}

.membership__card:hover .membership__type {
  color: #FFF;
}

.membership__card:hover .membership__button {
  background-color: #FFF;
  color: #151515
}

.membership__card:hover .membership__get {
  color: #FFF;
  opacity: .8;
}


.membership__card:hover .membership__button:hover {
  box-shadow: 0px 0px 0px 2.5px white inset, 0px 0px 0px 5px #000;
  letter-spacing: 5px;

}

@media (max-width:1200px) {
  .membership__type {
    margin-bottom: 20px;
  }

  .membership__body {
    margin-bottom: 30px;
  }
}

@media (max-width:992px) {



  .membership__card {
    width: 45%;
    margin-bottom: 20px;
  }

  .membership__card:hover {
    transform: translateY(-10px);
  }

  .membership__card-three {
    margin: 0 auto;
  }
}

@media (max-width:767px) {
  .membership {
    justify-content: center;
  }

  .membership__card {
    text-align: center;
    width: 75%;
    padding: 24px 30px;
  }

  .membership__features-item {
    text-align: left;
  }

  .membership__type {
    font-size: 40px;
    margin-bottom: 5px;
  }
  
}

@media (max-width: 480px) {
  .membership__card {
    padding: 10px;
  }

  .membership__features-desc{
    font-size: 12px;
  }
}



/* Large play */

.large__plain {
  margin: 0 auto;
}

@media (max-width:992px) {
  .large__plain {
    display: none;
  }
}




/* Footer */

.footer {
  background-color: #656293;
  padding-top: 50px;
  padding-bottom: 15px;
}

.footer__logo {
  margin: 0 auto 50px;
}

.footer__about {
  display: flex;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
}

.footer__about::before {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.footer__services {
  display: flex;
}

.footer__service {
  margin-right: 20px;
}

.footer__service-link {
  text-decoration: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 14px;
}

.footer__service-link::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #FFF;
  transition: all .2s linear;
}

.footer__service-link:hover::after {
  width: 100%;
}

.footer__rights {
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  font-size: 14px;
}

@media (max-width:992px) {

  .footer {
    padding-top: 30px;
  }

  .footer__logo {
    margin-bottom: 30px;
  }

  .footer__services {
    width: 100%;
    justify-content: center;
  }

  .footer__service-link {
    font-size: 16px;
  }

  .footer__rights {
    font-size: 12px;
  }

}

@media (max-width:767px) {
  .footer__service-link {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .footer__services{
    flex-direction: column;
    align-items: center;
  }

  .footer__service{
    margin-right: 0;
  }

  .footer__service:last-child{
    margin-bottom: 10px;
  }

  .footer__rights{
  font-size: 10px;
  }
}
@media (max-width: 320px) {}

.date__picker {
  border: none;
  width: 140px;
  background-color: transparent;
  font-size: 22px;
  cursor: pointer;
}

.date__picker:focus {
  outline: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
}


.datepicker-cell.today:not(.selected):not(.disabled) {
  color: #fff;
  background-color: #656293;
}